@import "./setup.css";

/* body {
    width: 100%;
    padding-top: 10px;
    height: 1000px;
} */


/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
} */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main_header #header {
    padding: 10px 20px 10px 20px;
}

#top-nav {
    padding: 0 30px;
}

#top-nav p {
    margin: 10px;
}

#navbarMenu ul {
    width: 80%;
    justify-content: space-around;
}

#navbarMenu a:hover {
    color: var(--teal);
}