@import './setup.css';
body {
    padding-top: 10px;
}

.slider {
    background-image: url(../image/hsp.jpg);
}

.slider-text {
    margin-bottom: 30px;
}

.slider-text p {
    margin-bottom: 10px;
}

.slider-form {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    bottom: -40px;
}

.slider-form>div {
    padding: 3px;
}

.about-us {
    padding: 50px;
}

.title {
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}

.service {
    padding: 20px 0 20px 20px;
}

.service-icon {
    width: 64px;
    margin-bottom: 10px;
}

.service-cnt>div {
    margin-bottom: 25px;
}

.service-cnt div h4 {
    font-weight: 500;
    color: black;
}

.more {
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}

.more:hover {
    color: var(--white);
}

.member {
    padding: 0px 50px;
}

.member .team-img {
    text-align: center!important;
}

.member p {
    text-align: center;
}

.team-img {
    margin-bottom: 50px;
}

#name,
#role {
    color: var(--secondary);
    letter-spacing: 1px;
}

.news {
    padding: 20px;
}

#to-top {
    position: fixed;
    display: flex;
    background-color: var(--teal);
    bottom: 16px;
    right: 16px;
    height: 50px;
    width: 50px;
    color: black;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: all .3s;
}

#to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

#to-top:hover {
    color: black;
}