@import './setup.css';
body {
    padding-top: 10px;
}

.slider {
    background-image: url(../image/hsp.jpg);
}

.slider-text {
    margin-bottom: 30px;
}

.slider-text p {
    margin-bottom: 10px;
}

.slider-form {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    bottom: -40px;
}

.slider-form>div {
    padding: 3px;
}

.about-us {
    padding: 30px;
}

#to-top {
    position: fixed;
    display: flex;
    background-color: var(--teal);
    bottom: 16px;
    right: 16px;
    height: 50px;
    width: 50px;
    color: black;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: all .3s;
}

#to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

#to-top:hover {
    color: black;
}