.cnt {
    background-color: #74b9ff;
    border: none !important;
    padding: 15px;
    margin-top: 20px;
}

.slider-form {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    box-shadow: 5px 5px 10px black;
}

.slider-form>div {
    padding: 3px;
}