@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--gray);
    font-size: 18px;
    font-weight: 600;
}

p {
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: 1px;
    border-style: none;
    vertical-align: center;
}

.slider {
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider>div {
    padding-top: 100px;
    height: 100%;
}

.text-right {
    text-align: right;
}

.form-control {
    padding: 10px 18px 10px 18px;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --lightred: #ee7896;
    --lightgreen: #11eedb;
}