@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all .05s;
}

html {
    scroll-behavior: smooth;
}


/* loading div*/

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(238, 241, 240);
    border-color: rgb(13, 155, 249) transparent rgb(13, 155, 249) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

a {
    color: var(--gray);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

p {
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: 1px;
    border-style: none;
    vertical-align: center;
}

.title {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.form-control {
    padding: 10px 18px 10px 18px;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
}

#to-top {
    position: fixed;
    display: flex;
    background-color: #007bff;
    bottom: 16px;
    right: 50%;
    transform: translatex(-50%);
    height: 40px;
    width: 40px;
    color: black;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: all .3s;
    color: white;
}

.blue {
    background-color: #2891cc;
}

.btn-blue {
    background-color: #2891cc;
    color: white;
    font-weight: bold;
}

.btn-blue a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.btn-blue:hover {
    border: 1px solid #2891cc;
    background-color: white;
}

.btn-blue a:hover {
    background-color: white;
    color: #2891cc;
}

#to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #198754;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --lightred: #ee7896;
    --lightgreen: #11eedb;
}