<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="../assets/image/logo.png" sizes="32x32">
    <link rel="stylesheet" href="../assets/styles/about-us.css">
    <link rel="stylesheet" href="../assets/styles/setup.css">
    <script src="../assets/js/setup.js"></script>
    <script src="../assets/js/about-us.js"></script>
    <title>Ptitcare - Về chúng tôi</title>
</head>

<body>
    <div>
        <div include-header="header.html"></div>
        <div class="slider img-us mt-4">
        </div>
        <div class="content mt-4 bg-success w-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 style="text-transform: uppercase;font-weight: bold;">Sứ mệnh - tầm nhìn</h3>
                        <p>Dựa trên nền tảng truyền thống, các giá trị lớn của ngành y Việt Nam từ xưa đến nay, đồng thời mong muốn mang lại cho người dân dịch vụ khám chữa bệnh chất lượng cao về y khoa, tiếp cận phương pháp, kỹ thuật và phác đồ hiện đại,
                            được hưởng các dịch vụ cao cấp như ở nước ngoài, bệnh viện Đa Khoa Tâm Anh đã được thành lập. Ngay từ khi mới bắt đầu đi vào hoạt động, bệnh viện Tâm Anh đã chú trọng việc xây dựng đội ngũ chuyên gia bác sĩ giỏi về chuyên môn,
                            nhiều kinh nghiệm, bệnh viện đã quy tụ được đội ngũ chuyên gia hàng đầu từ nhiều lĩnh vực như nam khoa tiết niệu, sản phụ khoa, nhi khoa, hô hấp, cơ xương khớp, hỗ trợ sinh sản, tai mũi họng, thần kinh…</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                        <img src="../assets/image/about-us/news/new1.jpg" alt="">
                    </div>
                    <div class="col-8 text">
                        <h5>đội ngũ chuyên gia</h5>
                        <p>Các chuyên viên giỏi ở các lĩnh vực hỗ trợ cũng được tập hợp để tạo nên các quy trình dịch vụ toàn diện, khoa học, hiệu quả.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <img src="../assets/image/about-us/news/new2.jpg" alt="">
                    </div>
                    <div class="col-8 text">
                        <h5>BỆNH VIỆN KHÁCH SẠN 5 SAO</h5>
                        <p>Bệnh viện được xây dựng theo mô hình bệnh viện khách sạn chú trọng đến việc đáp ứng đầy đủ các điều kiện cho hoạt động chuyên môn khám chữa bệnh, đồng thời mang lại những trải nghiệm chất lượng cao của khách hàng về mặt không gian,
                            cảnh quan, phòng nội trú, nhà hàng…</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <img src="../assets/image/about-us/news/new3.jpg" alt="">
                    </div>
                    <div class="col-8 text">
                        <h5>CƠ SỞ VẬT CHẤT – TRANG THIẾT BỊ HIỆN ĐẠI</h5>
                        <p>Bệnh viện Đa khoa Tâm Anh là đơn vị hàng đầu tại Việt Nam đầu tư lớn cho các trang thiết bị máy móc, phương pháp chẩn đoán và điều trị bệnh hàng đầu thế giới. Nhiều trang thiết bị máy móc có số lượng ít trên thế giới và hiếm có
                            ở Việt Nam.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <img src="../assets/image/about-us/news/new4.jpg" alt="">
                    </div>
                    <div class="col-8 text">
                        <h5>QUY TRÌNH KHOA HỌC – TOÀN DIỆN</h5>
                        <p>Quy trình thăm khám, điều trị được xây dựng toàn diện khoa học, giúp tiết kiệm thời gian chi phí và công sức của khách hàng, người bệnh. Dịch vụ chăm sóc khách hàng chuyên nghiệp tận tâm. Hệ thống tổng đài chăm sóc khách hàng chuyên
                            nghiệp trên nhiều kênh tiếp cận như tổng đài điện thoại, website, mạng xã hội,…</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <img src="../assets/image/about-us/news/new5.jpg" alt="">
                    </div>
                    <div class="col-8 text">
                        <h5>DỊCH VỤ CAO CẤP – GIÁ THÀNH HỢP LÝ</h5>
                        <p>Bệnh viện hướng tới phục vụ đông đảo khách hàng, người bệnh với giá thành hợp lý, nhiều chính sách ưu đãi về chi phí, hỗ trợ trả góp không lãi suất cho nhiều dịch vụ khám chữa bệnh. Với sự ra đời và phát triển với 2 bệnh viện lớn
                            tại Hà Nội & TP. HCM, hàng trăm ngàn người dân đã không phải ra nước ngoài để thăm khám và điều trị nhiều bệnh lý mà có thể sử dụng nhiều dịch vụ cao cấp không chỉ về chuyên môn mà còn là dịch vụ chăm sóc khách hàng chất lượng
                            cao ngay tại Việt Nam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div include-header="footer.html"></div>
        <a href="# " id="to-top">
            <i class="fas fa-angle-up "></i>
        </a>
    </div>
    <script>
        includeHTML();
        backToTop();
    </script>
</body>

</html>