<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/image/logo.png" sizes="32x32">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/styles/private_policy.css">
    <script src="../assets/js/setup.js"></script>
    <title>Ptitcare | Chính sách bảo mật thông tin bệnh nhân</title>
</head>

<body>
    <div class="lds-dual-ring center"></div>
    <div class="box">
        <div file-include="header.html"></div>
        <div class="content container mt-4">
            <div class="title-pri" style="border:0px">
                <h3 style="font-weight: bold;">Chính sách bảo mật thông tin cá nhân người bệnh</h3>
            </div>
            <div class="content-box mt-3">
                <p>Cảm ơn Quý Khách đã truy cập vào các trang web thuộc quyền sở hữu của Ptitcare. Chúng tôi cam kết bảo mật bất kỳ thông tin nào của Quý Khách được thu thập từ các website thuộc quyền sở hữu của Ptitcare. Quý Khách vui lòng đọc <span style="font-weight: bold;"> CHÍNH SÁCH BẢO MẬT THÔNG TIN NGƯỜI BỆNH </span>như
                    sau:
                </p>
                <div class="row">
                    <h5 class="text-success mt-3">
                        1. Thu thập thông tin cá nhân
                    </h5>
                    <p>Ptitcare sẽ thu thập, lưu trữ, xử lý và quản lý thông tin của quý khách có thể bao gồm các thông tin sau: họ và tên, thông tin liên lạc, thông tin về tình trạng sức khỏe hay những vấn đề mà bạn cung cấp, địa chỉ IP của bạn, loại trình
                        duyệt bạn dùng, thời gian truy cập và những website đã giới thiệu bạn đến với chúng tôi nhằm nhận diện khách truy cập website, vận hành và duy trì chất lượng dịch vụ, cung cấp những số liệu thống kê liên quan đến việc sử dụng webite
                        của bệnh viện.</p>
                    <p>Ptitcare không chịu trách nhiệm đối với những tuyên bố về tính riêng tư hoặc nội dung khác của các website bên ngoài website thuộc quyền sở hữu của chúng tôi.</p>
                </div>
                <div class="row">
                    <h5 class="text-success mt-3">
                        2. Phạm vi sử dụng thông tin cá nhân của bạn
                    </h5>
                    <p>Ptitcare sẽ sử dụng những thông tin cá nhân mà bạn cung cấp bao gồm: họ và tên, số điện thoại, email, địa chỉ, thông tin về tình trạng sức khỏe hay những vấn đề mà bạn cung cấp nhằm mục đích:</p>
                    <p>– Hỗ trợ người bệnh giải đáp mọi thắc mắc băn khoăn liên quan đến các dịch vụ tại bệnh viện Ptitcare.</p>
                    <p>– Cung cấp thông tin liên quan đến dịch vụ, đặt hẹn khám chữa bệnh cho người bệnh</p>
                    <p>– Chúng tôi có thể sẽ gửi thông tin giới thiệu dịch vụ mới, thông tin về các chương trình ưu đãi người bệnh, hoặc thông tin tuyển dụng nếu quý khách đăng ký nhận email thông báo.</p>
                </div>
                <div class="row">
                    <h5 class="text-success mt-3">
                        3. Thời gian lưu trữ và bảo mật thông tin
                    </h5>
                    <p>Chúng tôi bảo mật các thông tin cá nhân mà bạn cung cấp trên những máy chủ được đặt trong môi trường an toàn, được kiểm soát và bảo vệ khỏi những truy cập, sử dụng hoặc tiết lộ trái phép.</p>
                    <p>Đối với thông tin cá nhân của người bệnh, chúng tôi sẽ lưu trữ vĩnh viễn và chỉ xóa đi các dữ liệu này nếu người bệnh có yêu cầu xóa bỏ hoặc từ chối tiếp nhận dịch vụ chăm sóc người bệnh nếu thấy không phù hợp bất cứ lúc nào bằng cách
                        gửi yêu cầu qua email ptitcare@gmail.com, hoặc gọi điện thoại tới tổng đài chăm sóc người bệnh 1900 1806.</p>
                    <p>Chúng tôi hoàn toàn tôn trọng thông tin cá nhân và quyết định của người bệnh, cam kết thực hiện xóa dữ liệu thông tin cá nhân của bạn khi nhận được yêu cầu của bạn. Tuy nhiên, lịch sử dữ liệu thông tin cá nhân của bạn có liên quan
                        đến đơn hàng, hay dịch vụ chăm sóc người bệnh của chúng tôi thì vẫn được Ptitcare quản lý và lưu hành nội bộ.</p>
                </div>
                <div class="row">
                    <h5 class="text-success mt-3">
                        4. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình
                    </h5>
                    <p>Chúng tôi cam kết sử dụng các thông tin người bệnh đúng mục đích và phạm vi được nêu trong mục 2.</p>
                    <p>Chúng tôi cam kết không chuyển giao, mua bán hay thực hiện bất cứ hành động nào dẫn đến việc thông tin người bệnh bị tiết lộ cho bất cứ cá nhân hay đơn vị khác mà chưa có sự cho phép của người bệnh.</p>

                </div>
            </div>
        </div>
        <div file-include="footer.html"></div>
        <a href="# " id="to-top">
            <i class="fas fa-angle-up "></i>
        </a>
    </div>
    <script>
        includeHTML();
        backToTop();
    </script>
    <script src="../assets/js/loading.js"></script>

</body>

</html>