<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/fontawesome-free-6.0.0-beta2-web/css/all.min.css">
    <link rel="stylesheet" href="../assets/styles/setup.css">
    <link rel="stylesheet" href="../assets/styles/header.css">

</head>

<body>
    <header>
        <div class="top">
            <div class="contact">
                <i class="fas fa-envelope"></i>
                <p style="font-size: 18px; ">ptitcare@gmail.com</p>
            </div>
            <div class="sign">
                <a href="">Đăng nhập</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="left">
                <div class="logo">
                    <i class="fas fa-hospital-alt"></i>
                </div>
                <div class="sologan">
                    <p style="letter-spacing: 10px;">Ptitcare</p>
                    <p style="letter-spacing: 3px;">Luôn bên bạn</p>
                </div>
            </div>
            <div class="right">
                <div>
                    <i class="far fa-clock" style="color:var(--white)"></i>
                    <p style="color:var(--white);display:inline-block; margin-left: 10px">T2 - T6: 8:00 - 17:00</p>
                </div>
                <div>
                    <i class="fas fa-map-marker-alt" style=" color:var(--white)"></i>
                    <p style="color:var(--white);display:inline-block;margin-left: 10px ">Nguyễn Khuyến - Hà Đông</p>
                </div>
            </div>
            <nav>
                <div id="service ">
                    <a href=" ">Dịch vụ</a>
                </div>
                <div id="department ">
                    <a href=" ">Phòng ban</a>
                </div>
                <div id="doctors ">
                    <a href=" ">Đội ngũ</a>
                </div>
                <div id="contact ">
                    <a href=" ">Liên hệ</a>
                </div>
            </nav>
        </div>
        <div class="image">
            <p>Chào mừng bạn đến với</p>
            <p>PTIT CARE</p>
        </div>
    </header>


</body>

</html>