<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ptitcare - Trang chủ</title>
    <link rel="stylesheet" href="../assets/fontawesome-free-6.0.0-beta2-web/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/styles/home.css">
    <link rel="icon" href="../assets/image/logo.png" sizes="32x32">
    <script src="../assets/js/setup.js">
    </script>
</head>

<body>
    <div>
        <!-- <div include-header="header.html"></div> -->
        <div file-include="header.html"></div>
        <div class="slider">
            <div class="container">
                <div class="slider-text">
                    <p>
                        <h3>Chào mừng đến</h3>
                    </p>
                    <p>
                        <h1 style="letter-spacing: 2px;" class="text-success">PTITCARE</h1>
                    </p>
                    <p style="color:black;">Gửi trọn niềm tin!</p>
                </div>
                <div class="slider-form row">
                    <h3 class="col-12">Đặt lịch khám online.</h3>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <input type="text" placeholder="Họ và tên..." class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-6">
                        <div class="form-group">
                            <input type="text" placeholder="Địa chỉ" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-6">
                        <div class="form-group">
                            <input type="text" placeholder="Số điện thoại" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-6">
                        <select class="form-control">
                            <option selected="selected">Giới tính</option>
                            <option>Nam</option>
                            <option>Nữ</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 col-6">
                        <select class="form-control">
                            <option selected="selected">Lựa chọn khoa khám bệnh</option>
                            <option>Tai - Mũi - Họng</option>
                            <option>Khoa Ngoại</option>
                            <option>Khoa Tim Mạch</option>
                            <option>Khoa Chấn Thương Chỉnh Hình</option>
                            <option>Khoa Ung Bướu</option>
                            <option>Khoa Nội Hô Hấp</option>
                            <option>Khoa Cơ Xương Khớp</option>
                            <option>Khoa Nội Hô Hấp</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <button class="btn btn-success btn-block btn-round">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us mt-5">
            <div class="container">
                <div class="row title">
                    <div class="col-12">
                        <h3>Giới thiệu về chúng tôi</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img src="../assets/image/hero-about-us.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h4>Sứ mệnh và tầm nhìn</h4>
                        <p style="letter-spacing: 1px;">Dựa trên nền tảng truyền thống, các giá trị lớn của ngành y Việt Nam từ xưa đến nay, đồng thời mong muốn mang lại cho người dân dịch vụ khám chữa bệnh chất lượng cao về y khoa, tiếp cận phương pháp, kỹ thuật và phác đồ hiện đại,
                            được hưởng các dịch vụ cao cấp như ở nước ngoài, Ptitcare đã được thành lập. Ngay từ khi mới bắt đầu đi vào hoạt động, chúng tôi đã chú trọng việc xây dựng đội ngũ chuyên gia bác sĩ giỏi về chuyên môn, nhiều kinh nghiệm,bệnh
                            viện đã quy tụ được đội ngũ chuyên gia hàng đầu từ nhiều lĩnh vực như nam khoa tiết niệu, sản phụ khoa, nhi khoa, hô hấp, cơ xương khớp, hỗ trợ sinh sản, tai mũi họng, thần kinh…</p>
                        <a href="./about-us.html" class="btn btn-round btn-success mt-4">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="service mt-4 bg-success">
            <div class="container">
                <div class="row title">
                    <div class="col-12">
                        <h3>Dịch vụ nổi bật</h3>
                    </div>
                </div>
                <div class="row service-cnt">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-icon">
                            <img src="../assets/image/service/cancer.png" alt="">
                        </div>
                        <h4>Tầm soát ung thư</h4>
                        <a href="" class="more">Xem thêm</a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-icon">
                            <img src="../assets/image/service/virus.png" alt="">
                        </div>
                        <h4>Covid - 19</h4>
                        <a href="" class="more">Xem thêm</a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-icon">
                            <img src="../assets/image/service/cardiology.png" alt="">
                        </div>
                        <h4>Tim mạch</h4>
                        <a href="" class="more">Xem thêm</a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-icon">
                            <img src="../assets/image/service/arthritis.png" alt="">
                        </div>
                        <h4>Xương khớp</h4>
                        <a href="" class="more">Xem thêm</a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-icon">
                            <img src="../assets/image/service/orthodontic.png" alt="">
                        </div>
                        <h4>Nha Khoa</h4>
                        <a href="" class="more">Xem thêm</a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-icon">
                            <img src="../assets/image/service/lungs.png" alt="">
                        </div>
                        <h4>Hô hấp</h4>
                        <a href="" class="more">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="team mt-4">
            <div class="container">
                <div class="row title">
                    <div class="col-12">
                        <h3>Đội ngũ bác sĩ - chuyên gia</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 member">
                        <div class="team-img">
                            <img src="../assets/image/team/team-member-01.png" alt="">
                        </div>
                        <p id="name">Dr.John</p>
                        <p id="role">Nha khoa</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 member">
                        <div class="team-img">
                            <img src="../assets/image/team/team-member-02.png" alt="">
                        </div>
                        <p id="name">Dr.Amelia</p>
                        <p id="role">Khoa hô hấp</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 member">
                        <div class="team-img">
                            <img src="../assets/image/team/team-member-03.png" alt="">
                        </div>
                        <p id="name">Dr.Jack</p>
                        <p id="role">Khoa tim mạch</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 member">
                        <div class="team-img">
                            <img src="../assets/image/team/team-member-04.png" alt="">
                        </div>
                        <p id="name">Dr.Charlie</p>
                        <p id="role">Khoa tai - mũi - họng</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="news mt-4 bg-success">
            <div class="container">
                <div class="row title">
                    <div class="col-12">
                        <h3>Tin tức - sự kiện</h3>
                    </div>
                </div>
                <div class="row news-cnt">
                    <div class="row mt-3">
                        <div class="col-4">
                            <img src="../assets/image/news/new1.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <h4>
                                Trẻ bị viêm họng cấp, mẹ đừng lơ là!
                            </h4>
                            <p style="letter-spacing: 0px;">
                                Trẻ bị viêm họng cấp thực chất chỉ là một viêm nhiễm của đường hô hấp trên không đáng lo ngại. Tuy nhiên, bố mẹ chớ nên chủ quan bởi bệnh này cũng dễ biến chứng khiến con gặp nguy hiểm nếu không được điều trị đúng cách.
                            </p>
                            <a href="" class="btn btn-round btn-warning mt-2">Xem thêm</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <img src="../assets/image/news/new2.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <h4>
                                Tiêm phòng uốn ván sau chấn thương.
                            </h4>
                            <p style="letter-spacing: 0px;">
                                Khi bị chấn thương, trước hết cần bình tĩnh xử lý vết thương đúng cách để làm chậm quá trình xâm nhập của vi khuẩn. Sau đó, người bị thương cần nhanh chóng đi tiêm phòng uốn ván. Vậy thời điểm lý tưởng để tiêm phòng uốn ván sau chấn thương là bao lâu?
                            </p>
                            <a href="" class="btn btn-round btn-warning mt-2">Xem thêm</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <img src="../assets/image/news/new3.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <h4>
                                Bảng cân nặng bé trai, cân nặng bé gái chuẩn WHO
                            </h4>
                            <p style="letter-spacing: 0px;">
                                Bảng đo chiều cao, cân nặng bé trai, cân nặng bé gái giúp mẹ nhận biết, theo dõi sức khỏe thể chất của con. Cùng tìm hiểu ngay bảng chiều cao cân nặng chuẩn của trẻ sơ sinh và trẻ nhỏ từ 0 đến 5 tuổi do Tổ chức Y tế thế giới (WHO) đưa ra trong bài viết
                                này.
                            </p>
                            <a href="" class="btn btn-round btn-warning mt-2">Xem thêm</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <img src="../assets/image/news/new4.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <h4>
                                Xét nghiệm CRP và vai trò quan trọng ít người biết
                            </h4>
                            <p style="letter-spacing: 0px;">
                                Khi được hỏi về một số loại xét nghiệm kiểm tra sức khỏe, có lẽ không nhiều người biết về xét nghiệm CRP. Tuy nhiên, nó thực sự rất quan trọng trong việc điều trị các tình trạng viêm nhiễm nghiêm trọng.
                            </p>
                            <a href="" class="btn btn-round btn-warning mt-2">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- <div include-header="footer.html"></div> -->
    <div file-include="footer.html"></div>
    <a href="#" id="to-top">
        <i class="fas fa-angle-up"></i>
    </a>
    </div>

    <script>
        includeHTML();
        backToTop();
    </script>
</body>


</html>