<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/fontawesome-free-6.0.0-beta2-web/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="../assets/image/logo.png" sizes="32x32">
    <link rel="stylesheet" href="../assets/styles/service-sub.css">
    <link rel="stylesheet" href="../assets/styles/lien-he.css">
    <script src="../assets/js/setup.js"></script>
    <script src="../assets/js/lazy-img.js"></script>
    <title>Ptitcare | Liên hệ</title>
</head>

<body>
    <div class="lds-dual-ring center"></div>
    <div class="box">
        <div file-include="header.html"></div>
        <div class="container blue cnt">
            <h3 class="title mt-3">Bệnh viện quốc tế Ptitcare</h3>
            <p class="title mt-2">Thông tin liên hệ</p>
            <p class="title mt-2">Địa chỉ: Km10 Nguyễn Trãi - Hà Đông - Hà Nội</p>
            <p class="mt-2 title">Email: ptitcare@gmail.com</p>
            <p class="mt-2 title">Hotline: 1900 1806</p>
            <p class="mt-2 title">Cấp cứu 24/7: 0833 015 115</p>
            <p class="mt-2 title"> Hotline tiêm chủng : 0911 615 115</p>
            <p class="mt-2 title">Giờ làm việc: 8 giờ sáng đến 5 giờ chiều các ngày từ thứ 2 đến thứ 6</p>
            <div class="slider-form row mt-4">
                <h3 class="col-12">Đặt lịch khám online.</h3>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <input type="text" placeholder="Họ và tên" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-6">
                    <div class="form-group">
                        <input type="text" placeholder="Địa chỉ" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-6">
                    <div class="form-group">
                        <input type="text" placeholder="Số điện thoại" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-6">
                    <select class="form-control">
                        <option selected="selected">Giới tính</option>
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-4 col-6">
                    <select class="form-control">
                        <option selected="selected">Lựa chọn khoa khám bệnh</option>
                        <option>Tai - Mũi - Họng</option>
                        <option>Khoa Ngoại</option>
                        <option>Khoa Tim Mạch</option>
                        <option>Khoa Chấn Thương Chỉnh Hình</option>
                        <option>Khoa Ung Bướu</option>
                        <option>Khoa Nội Hô Hấp</option>
                        <option>Khoa Cơ Xương Khớp</option>
                        <option>Khoa Nội Hô Hấp</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-6">
                    <button class="btn btn-blue btn-block btn-round">Gửi</button>
                </div>
            </div>
        </div>
        <div file-include="footer.html"></div>
        <a href="#" id="to-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
    <script>
        includeHTML();
        backToTop();
    </script>
    <script src="../assets/js/loading.js"></script>
</body>

</html>